.button {
  background: none;
  color: #ffb000;
  border: none;
  cursor: pointer;
  transition: color 150ms ease;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.buttons {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  transition: color 150ms ease;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.button:hover {
  color: white;
}

.buttons:hover {
  color: #ffb000;
}

.button-container {
  position: -webkit-sticky;
  position: sticky;
  background-color: rgba(
    51,
    51,
    51,
    0.2
  ); /* Using RGBA for semi-transparent background */
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
  height: 5vh;
  width: 100%;
}

#linkedin {
  color: rgb(136, 218, 245);
}
